.App {
  text-align: center;
  background-color: #ebfbff;
}

/* custom css */

.one-card {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  height: 21rem;
  width: 15rem;
  background-color: #e8faff;
  margin-left: 20px;

  -webkit-box-shadow: -5px 0px 10px -8px #000000;
  box-shadow: -2px 3px 15px -7px #000000;
}

.one-card-image {
  position: absolute;
  object-fit: cover;
  max-height: 15rem;
  width: 15rem;
  border-radius: 0.5rem;
}
.product-title {
  position: absolute;
  top: 16rem;
  font-size: 15px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  max-height: 3rem;
  white-space: wrap;
}

.under-card {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-left: 20px;
  height: 4rem;
  width: 15rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  -webkit-box-shadow: -5px 0px 10px -8px #000000;
  box-shadow: -2px 3px 10px -7px #000000;
}

.product-price {
  color: #000000;
  position: absolute;
  right: 6.5rem;
  top: 0.5rem;
  font-size: 30px;
  font-weight: 700;
  z-index: 1;
}

.offer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 162, 184);
  width: 5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 15px;
}

.jumbotron {
  background-color: rgb(23, 162, 184) !important;

  font-family: "Roboto", sans-serif !important;
}
.latest-release {
  /* border-bottom: 1px solid rgb(23, 162, 184); */
  margin-bottom: 2rem;
  box-shadow: 0px 3px 20px -5px rgb(23, 162, 184);
  font-family: "Montserrat", sans-serif;
}

.product-category {
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  bottom: -0.5rem;
  background-color: #8d8d8d5a;

  padding: 0.4rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-radius: 0.4rem;
}

.more {
  background-color: white !important;
  border-bottom: 3px;
  border: 0px solid rgb(255, 14, 14) !important;
}

.submit-comment {
  position: absolute;
  z-index: 3;
  bottom: 0px;
  left: 0px;
}
.textarea-comment {
  position: relative;
}
.delete-btn {
  position: relative;
}

.comments-list {
  width: 240px;
}
